@model IEnumerable<Lucifron.ReST.Server.Models.ReadCredentialModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Host</th>
                <th>User</th>
                <th>Password</th>
            </tr>
        </thead>
        @foreach (var credential in Model)
        {
            <tr>
                <td>
                    @credential.Host
                </td>
                <td>
                    @credential.User
                </td>
                <td>
                    @credential.Password
                </td>
            </tr>
        }
    </table>
</div>